In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cowin_vaccine_data_districtwise.csv',low_memory=False)

In [3]:
data = data.rename(columns=data.iloc[0])

In [4]:
data = data.drop(['S No','District_Key','Cowin Key'],axis=1)

In [5]:
data1 = data[['State_Code','State','Male(Individuals Vaccinated)','Female(Individuals Vaccinated)']].copy()

In [6]:
data1 = data1.iloc[1:,:]

In [7]:
cols = []
count = 1
for column in data1.columns:
    if column == 'Male(Individuals Vaccinated)':
        cols.append(f'Male(Individuals Vaccinated){count}')
        count+=1
        continue
    cols.append(column)
data1.columns = cols

In [8]:
colsa = []
count = 1
for column in data1.columns:
    if column == 'Female(Individuals Vaccinated)':
        colsa.append(f'Female(Individuals Vaccinated){count}')
        count+=1
        continue
    colsa.append(column)
data1.columns = colsa

In [9]:
df2 = data1.filter(regex='Male')

In [10]:
df3 = data1.filter(regex='Female')

In [11]:
newstuff = data1[['State_Code','State']].copy()

In [12]:
val1 = pd.concat([newstuff, df2], axis=1)
val2 = pd.concat([newstuff, df3], axis=1)

In [13]:
col_list= list(val1)
col_list.remove('State_Code')
col_list.remove('State')
# col_list

In [14]:
def sum_frame_by_column(frame, new_col_name, list_of_cols_to_sum):
    frame[new_col_name] = frame[list_of_cols_to_sum].astype(float).sum(axis=1)
    return(frame)

In [15]:
sum_frame_by_column(val1, 'maledoses', col_list)

,State_Code,State,Male(Individuals Vaccinated)1,Male(Individuals Vaccinated)2,Male(Individuals Vaccinated)3,Male(Individuals Vaccinated)4,Male(Individuals Vaccinated)5,Male(Individuals Vaccinated)6,Male(Individuals Vaccinated)7,Male(Individuals Vaccinated)8,...,Male(Individuals Vaccinated)203,Male(Individuals Vaccinated)204,Male(Individuals Vaccinated)205,Male(Individuals Vaccinated)206,Male(Individuals Vaccinated)207,Male(Individuals Vaccinated)208,Male(Individuals Vaccinated)209,Male(Individuals Vaccinated)210,Male(Individuals Vaccinated)211,maledoses
1,AN,Andaman and Nicobar Islands,0,0,0,0,0,0,0,83,...,16402,16408,16422,16446,16446,16446,16456,16459,16468,1129253.0
2,AN,Andaman and Nicobar Islands,0,0,0,0,0,19,95,115,...,52958,53331,53562,53677,54168,54182,54409,54640,54856,3587351.0
3,AN,Andaman and Nicobar Islands,12,12,29,53,67,91,136,144,...,114800,116644,118000,119197,120578,120743,121368,122533,123444,7783470.0
4,AP,Andhra Pradesh,28,48,69,127,208,261,363,482,...,987501,994293,1017673,1024266,1059237,1065857,1066936,1117223,1141050,62089748.0
5,AP,Andhra Pradesh,93,208,183,381,545,802,1036,1418,...,1108178,1109323,1150005,1159304,1194614,1195827,1227886,1283787,1288979,71065673.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,WB,West Bengal,29,58,98,101,101,200,261,272,...,453296,454166,462151,472085,479133,483453,491971,499442,508759,32223687.0
751,WB,West Bengal,1,1,37,93,93,151,275,278,...,259022,260740,262177,264494,265671,266498,269877,279691,284440,19208890.0
752,WB,West Bengal,4,4,72,182,182,182,395,403,...,1003350,1018512,1031355,1046886,1065159,1073259,1082714,1122599,1142488,67778547.0
753,WB,West Bengal,NaN,0,41,91,91,165,357,368,...,422381,426109,429350,440714,441680,442151,452609,470490,475245,28178996.0
754,WB,West Bengal,13,13,34,61,83,127,317,339,...,640899,646635,653967,666573,677280,680799,687988,705599,714378,42723778.0

In [16]:
col_lista= list(val2)
col_lista.remove('State_Code')
col_lista.remove('State')
# col_lista

In [17]:
sum_frame_by_column(val2, 'femaledoses', col_lista)

,State_Code,State,Female(Individuals Vaccinated)1,Female(Individuals Vaccinated)2,Female(Individuals Vaccinated)3,Female(Individuals Vaccinated)4,Female(Individuals Vaccinated)5,Female(Individuals Vaccinated)6,Female(Individuals Vaccinated)7,Female(Individuals Vaccinated)8,...,Female(Individuals Vaccinated)203,Female(Individuals Vaccinated)204,Female(Individuals Vaccinated)205,Female(Individuals Vaccinated)206,Female(Individuals Vaccinated)207,Female(Individuals Vaccinated)208,Female(Individuals Vaccinated)209,Female(Individuals Vaccinated)210,Female(Individuals Vaccinated)211,femaledoses
1,AN,Andaman and Nicobar Islands,0,0,0,1,1,2,3,123,...,14031,14037,14047,14065,14065,14065,14073,14080,14090,995874.0
2,AN,Andaman and Nicobar Islands,0,0,0,0,0,14,149,275,...,48333,48661,48843,48934,49366,49377,49581,49780,49972,3285690.0
3,AN,Andaman and Nicobar Islands,11,11,13,35,56,113,169,180,...,100115,101428,102339,103252,104337,104445,104842,105709,106397,6524687.0
4,AP,Andhra Pradesh,259,456,709,1197,1761,2235,2939,3607,...,1170116,1177431,1202757,1210092,1246450,1253740,1254727,1304917,1328828,70120696.0
5,AP,Andhra Pradesh,331,804,742,1417,2284,3057,3730,4546,...,1316246,1317300,1354796,1363275,1396355,1397546,1427510,1479774,1484856,80923503.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,WB,West Bengal,2,115,222,239,239,360,436,478,...,397471,398446,405217,414367,420819,424691,431850,439453,448907,25440481.0
751,WB,West Bengal,0,0,39,81,81,99,345,347,...,291858,296868,299907,305254,308248,310225,316208,324013,327614,18823325.0
752,WB,West Bengal,10,10,91,295,295,295,948,969,...,926784,940173,951733,966293,986115,997662,1009528,1044869,1063614,62424946.0
753,WB,West Bengal,NaN,0,60,196,196,312,786,806,...,354774,357907,360557,369779,370603,371041,379813,393865,398040,23478908.0
754,WB,West Bengal,49,49,108,263,368,578,1138,1203,...,512682,517937,524701,536200,547315,550378,556818,581597,589599,30458540.0

In [18]:
finalstuff1 = val1[['State_Code','State','maledoses']].copy()
finalstuff2 = val2[['State_Code','State','femaledoses']].copy()

In [19]:
result = pd.concat([finalstuff1, finalstuff2], axis=1, join='inner')

In [20]:
newresult = result[['State_Code','State','maledoses','femaledoses']].copy()

In [21]:
newresult = newresult.loc[:,~newresult.columns.duplicated()]

In [22]:
findf = newresult.groupby(['State_Code','State']).sum().reset_index()

In [23]:
findf['vaccinationratio'] = findf['femaledoses']/findf['maledoses']

In [24]:
findf = findf.drop(['maledoses','femaledoses'],axis=1)

In [25]:
findf['State']=findf['State'].str.lower()

In [26]:
newData = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx')

In [27]:
popdata = newData[['Level','Name','TOT_M','TOT_F']].copy()

In [28]:
rslt_df = popdata[popdata['Level'] == 'STATE'].copy()

In [29]:
rslt_df.drop_duplicates(subset ="Name",keep = 'first', inplace = True)

In [30]:
rslt_df['populationratio'] = rslt_df['TOT_F']/rslt_df['TOT_M']

In [31]:
rslt_df.sort_values("Name", axis = 0, ascending = True,inplace = True)

In [32]:
rslt_df.reset_index(inplace = True)

In [33]:
rslt_df = rslt_df.drop(['index'],axis=1)

In [34]:
newrslt_df = rslt_df[['Name','populationratio']].copy()

In [35]:
newrslt_df['Name'] = newrslt_df['Name'].str.lower()

In [36]:
newrslt_df.rename(columns = {'Name':'State'}, inplace = True)

In [37]:
int_df = pd.merge(findf, newrslt_df, how='inner', on=['State'])

In [38]:
int_df['ratioofratio'] = int_df['vaccinationratio']/int_df['populationratio']

In [39]:
int_df.rename(columns = {'State_Code':'stateid'}, inplace = True)

In [40]:
int_df = int_df.drop(['State'],axis=1)

In [41]:
int_df.sort_values("ratioofratio", axis = 0, ascending = True,inplace = True)

In [42]:
int_df.reset_index(inplace = True)

In [43]:
sachinint_df = int_df[['stateid','vaccinationratio','populationratio','ratioofratio']].copy()

In [44]:
sachinint_df.to_csv('vaccination-population-ratio-states.csv')

In [45]:
rawdata = pd.read_csv('cowin_vaccine_data_districtwise.csv',low_memory=False)

In [46]:
rawdata = rawdata.rename(columns=data.iloc[0])

In [47]:
rawdata = rawdata.drop(['S No','State_Code','State','Cowin Key'],axis=1)

In [48]:
rawdata = rawdata.rename(columns=rawdata.iloc[0])

In [49]:
thing = rawdata[['District_Key','District','Male(Individuals Vaccinated)','Female(Individuals Vaccinated)']].copy()

In [50]:
thing = thing.iloc[1:,:]

In [51]:
acols = []
count = 1
for column in thing.columns:
    if column == 'Male(Individuals Vaccinated)':
        acols.append(f'Male(Individuals Vaccinated){count}')
        count+=1
        continue
    acols.append(column)
thing.columns = acols
bcols = []
count = 1
for column in thing.columns:
    if column == 'Female(Individuals Vaccinated)':
        bcols.append(f'Female(Individuals Vaccinated){count}')
        count+=1
        continue
    bcols.append(column)
thing.columns = bcols

In [52]:
bat1 = thing.filter(regex='Male')
bat2 = thing.filter(regex='Female')

In [53]:
stumps = thing[['District_Key','District']].copy()

In [54]:
sachin1 = pd.concat([stumps, bat1], axis=1)
sachin2 = pd.concat([stumps, bat2], axis=1)

In [55]:
column_list1= list(sachin1)
column_list1.remove('District_Key')
column_list1.remove('District')
# col_list

In [56]:
def sum_frame_by_column(frame, new_col_name, list_of_cols_to_sum):
    frame[new_col_name] = frame[list_of_cols_to_sum].astype(float).sum(axis=1)
    return(frame)

In [57]:
sum_frame_by_column(sachin1, 'maledoses', column_list1)

,District_Key,District,Male(Individuals Vaccinated)1,Male(Individuals Vaccinated)2,Male(Individuals Vaccinated)3,Male(Individuals Vaccinated)4,Male(Individuals Vaccinated)5,Male(Individuals Vaccinated)6,Male(Individuals Vaccinated)7,Male(Individuals Vaccinated)8,...,Male(Individuals Vaccinated)203,Male(Individuals Vaccinated)204,Male(Individuals Vaccinated)205,Male(Individuals Vaccinated)206,Male(Individuals Vaccinated)207,Male(Individuals Vaccinated)208,Male(Individuals Vaccinated)209,Male(Individuals Vaccinated)210,Male(Individuals Vaccinated)211,maledoses
1,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,83,...,16402,16408,16422,16446,16446,16446,16456,16459,16468,1129253.0
2,AN_North and Middle Andaman,North and Middle Andaman,0,0,0,0,0,19,95,115,...,52958,53331,53562,53677,54168,54182,54409,54640,54856,3587351.0
3,AN_South Andaman,South Andaman,12,12,29,53,67,91,136,144,...,114800,116644,118000,119197,120578,120743,121368,122533,123444,7783470.0
4,AP_Anantapur,Anantapur,28,48,69,127,208,261,363,482,...,987501,994293,1017673,1024266,1059237,1065857,1066936,1117223,1141050,62089748.0
5,AP_Chittoor,Chittoor,93,208,183,381,545,802,1036,1418,...,1108178,1109323,1150005,1159304,1194614,1195827,1227886,1283787,1288979,71065673.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,WB_Purulia,Purulia,29,58,98,101,101,200,261,272,...,453296,454166,462151,472085,479133,483453,491971,499442,508759,32223687.0
751,WB_Birbhum,Birbhum,1,1,37,93,93,151,275,278,...,259022,260740,262177,264494,265671,266498,269877,279691,284440,19208890.0
752,WB_South 24 Parganas,South 24 Parganas,4,4,72,182,182,182,395,403,...,1003350,1018512,1031355,1046886,1065159,1073259,1082714,1122599,1142488,67778547.0
753,WB_Uttar Dinajpur,Uttar Dinajpur,NaN,0,41,91,91,165,357,368,...,422381,426109,429350,440714,441680,442151,452609,470490,475245,28178996.0
754,WB_Paschim Bardhaman,Paschim Bardhaman,13,13,34,61,83,127,317,339,...,640899,646635,653967,666573,677280,680799,687988,705599,714378,42723778.0

In [58]:
column_list2= list(sachin2)
column_list2.remove('District_Key')
column_list2.remove('District')

In [59]:
sum_frame_by_column(sachin2, 'femaledoses', column_list2)

,District_Key,District,Female(Individuals Vaccinated)1,Female(Individuals Vaccinated)2,Female(Individuals Vaccinated)3,Female(Individuals Vaccinated)4,Female(Individuals Vaccinated)5,Female(Individuals Vaccinated)6,Female(Individuals Vaccinated)7,Female(Individuals Vaccinated)8,...,Female(Individuals Vaccinated)203,Female(Individuals Vaccinated)204,Female(Individuals Vaccinated)205,Female(Individuals Vaccinated)206,Female(Individuals Vaccinated)207,Female(Individuals Vaccinated)208,Female(Individuals Vaccinated)209,Female(Individuals Vaccinated)210,Female(Individuals Vaccinated)211,femaledoses
1,AN_Nicobars,Nicobars,0,0,0,1,1,2,3,123,...,14031,14037,14047,14065,14065,14065,14073,14080,14090,995874.0
2,AN_North and Middle Andaman,North and Middle Andaman,0,0,0,0,0,14,149,275,...,48333,48661,48843,48934,49366,49377,49581,49780,49972,3285690.0
3,AN_South Andaman,South Andaman,11,11,13,35,56,113,169,180,...,100115,101428,102339,103252,104337,104445,104842,105709,106397,6524687.0
4,AP_Anantapur,Anantapur,259,456,709,1197,1761,2235,2939,3607,...,1170116,1177431,1202757,1210092,1246450,1253740,1254727,1304917,1328828,70120696.0
5,AP_Chittoor,Chittoor,331,804,742,1417,2284,3057,3730,4546,...,1316246,1317300,1354796,1363275,1396355,1397546,1427510,1479774,1484856,80923503.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,WB_Purulia,Purulia,2,115,222,239,239,360,436,478,...,397471,398446,405217,414367,420819,424691,431850,439453,448907,25440481.0
751,WB_Birbhum,Birbhum,0,0,39,81,81,99,345,347,...,291858,296868,299907,305254,308248,310225,316208,324013,327614,18823325.0
752,WB_South 24 Parganas,South 24 Parganas,10,10,91,295,295,295,948,969,...,926784,940173,951733,966293,986115,997662,1009528,1044869,1063614,62424946.0
753,WB_Uttar Dinajpur,Uttar Dinajpur,NaN,0,60,196,196,312,786,806,...,354774,357907,360557,369779,370603,371041,379813,393865,398040,23478908.0
754,WB_Paschim Bardhaman,Paschim Bardhaman,49,49,108,263,368,578,1138,1203,...,512682,517937,524701,536200,547315,550378,556818,581597,589599,30458540.0

In [60]:
lion1 = sachin1[['District_Key','District','maledoses']].copy()
lion2 = sachin2[['District_Key','District','femaledoses']].copy()

In [61]:
mergedf = pd.concat([lion1, lion2], axis=1, join='inner')

In [62]:
a = mergedf.loc[:,~mergedf.columns.duplicated()]

In [63]:
a_list = a['femaledoses']/a['maledoses']

In [64]:
a_list_a = pd.DataFrame(a_list)

In [65]:
a_list_a.rename(columns={0:'vaccinationratio'},inplace=True)

In [66]:
newmergedf = pd.concat([a,a_list_a],axis=1)

In [67]:
thenewmergedf = newmergedf[['District_Key','District','vaccinationratio']].copy()
finalnewmergedf = thenewmergedf[['District','vaccinationratio']].copy()
finalnewmergedf['District'] = finalnewmergedf['District'].str.lower()

In [68]:
kohli = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx')

In [69]:
pdata = kohli[['Level','Name','TOT_M','TOT_F']].copy()

In [70]:
wave = pdata[pdata['Level'] == 'DISTRICT'].copy()
wave.drop_duplicates(subset ="Name",keep = 'first', inplace = True)

In [71]:
wave['populationratio'] = wave['TOT_F']/wave['TOT_M']

In [72]:
wave.rename(columns = {'Name':'District'}, inplace = True)

In [73]:
thenewwave = wave[['District','populationratio']].copy()
thenewwave['District'] = thenewwave['District'].str.lower()

In [74]:
finalint_df = pd.merge(finalnewmergedf, thenewwave, how='inner', on=['District'])
finalint_df['ratioofratio'] = finalint_df['vaccinationratio']/finalint_df['populationratio']

In [75]:
distkeydist = sachin1[['District','District_Key']].copy()

In [76]:
distkeydist['District'] = distkeydist['District'].str.lower()

In [77]:
python = pd.merge(finalint_df, distkeydist, how='inner', on=['District'])

In [78]:
python = python[['District_Key','vaccinationratio','populationratio','ratioofratio']]

In [79]:
python.drop_duplicates(subset ="District_Key",keep = 'first', inplace = True)

In [80]:
python.rename(columns = {'District_Key':'districtid'}, inplace = True)

In [81]:
python.sort_values("ratioofratio", axis = 0, ascending = True,inplace = True)

In [82]:
python.reset_index(inplace = True)

In [83]:
new_python = python[['districtid','vaccinationratio','populationratio','ratioofratio']].copy()

In [84]:
new_python.drop_duplicates(subset ="districtid",keep = 'first', inplace = True)

In [85]:
new_python.to_csv('vaccination-population-ratio-districts.csv')

In [86]:
fin_sum_state = newresult.sum(axis = 0, skipna = True)

In [87]:
fin_sum_state = fin_sum_state.to_frame()

In [88]:
fin_sum_state = fin_sum_state.transpose()

In [89]:
fin_sum_state = fin_sum_state[['maledoses','femaledoses']]

In [90]:
fin_sum_state['vaccinationratio'] = fin_sum_state['femaledoses']/fin_sum_state['maledoses']

In [91]:
fin_sum_state['overall'] = 'overall'

In [92]:
fin_rslt_df=rslt_df[['TOT_M','TOT_F']].copy()

In [93]:
fin_rslt_df= fin_rslt_df.sum(axis = 0, skipna = True)

In [94]:
fin_rslt_df = fin_rslt_df.to_frame()

In [95]:
fin_rslt_df = fin_rslt_df.transpose()

In [96]:
fin_rslt_df['populationratio'] = fin_rslt_df['TOT_F']/fin_rslt_df['TOT_M']

In [97]:
fin_rslt_df['overall'] = 'overall'

In [98]:
final_count=pd.merge(fin_rslt_df, fin_sum_state, how='inner', on=['overall'])

In [99]:
final_count = final_count[['vaccinationratio','populationratio']]

In [100]:
final_count['ratioofratio'] = final_count['vaccinationratio']/final_count['populationratio']

In [101]:
final_count['overall'] = 'overall'

In [102]:
final_count = final_count[['overall','vaccinationratio','populationratio','ratioofratio']]

In [103]:
final_count.to_csv('vaccination-population-ratio-overall.csv')