In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cowin_vaccine_data_districtwise.csv',low_memory=False)

In [3]:
data = data.rename(columns = data.iloc[0])

In [4]:
data = data.drop(['S No','District_Key','Cowin Key'],axis=1)

In [5]:
data1 = data[['State_Code','State','First Dose Administered','Second Dose Administered']].copy()

In [6]:
data1 = data1.iloc[1:,:]

In [7]:
cols = []
count = 1
for column in data1.columns:
    if column == 'First Dose Administered':
        cols.append(f'First Dose Administered{count}')
        count+=1
        continue
    cols.append(column)
data1.columns = cols

In [8]:
colsa = []
count = 1
for column in data1.columns:
    if column == 'Second Dose Administered':
        colsa.append(f'Second Dose Administered{count}')
        count+=1
        continue
    colsa.append(column)
data1.columns = colsa

In [9]:
df2 = data1.filter(regex='First ')
df3 = data1.filter(regex='Second ')

In [10]:
newstuff = data1[['State_Code','State']].copy()

In [11]:
val1 = pd.concat([newstuff, df2], axis=1)
val2 = pd.concat([newstuff, df3], axis=1)

In [12]:
col_list= list(val1)
col_list.remove('State_Code')
col_list.remove('State')

In [13]:
def sum_frame_by_column(frame, new_col_name, list_of_cols_to_sum):
    frame[new_col_name] = frame[list_of_cols_to_sum].astype(float).sum(axis=1)
    return(frame)

In [14]:
sum_frame_by_column(val1, 'firstdose', col_list)

,State_Code,State,First Dose Administered1,First Dose Administered2,First Dose Administered3,First Dose Administered4,First Dose Administered5,First Dose Administered6,First Dose Administered7,First Dose Administered8,...,First Dose Administered221,First Dose Administered222,First Dose Administered223,First Dose Administered224,First Dose Administered225,First Dose Administered226,First Dose Administered227,First Dose Administered228,First Dose Administered229,firstdose
1,AN,Andaman and Nicobar Islands,0,0,0,1,1,2,3,206,...,22179,22183,22192,22212,22212,22212,22221,22227,22234,2048593.0
2,AN,Andaman and Nicobar Islands,0,0,0,0,0,33,244,390,...,70535,71135,71506,71683,72517,72542,72921,73299,73655,6389639.0
3,AN,Andaman and Nicobar Islands,23,23,42,88,123,204,305,324,...,151905,154213,156076,157718,159464,159705,160605,161926,163017,13521244.0
4,AP,Andhra Pradesh,287,504,778,1324,1969,2496,3302,4089,...,1491158,1499044,1532684,1541992,1579139,1584352,1585518,1644283,1678857,124601010.0
5,AP,Andhra Pradesh,424,1012,925,1798,2829,3859,4766,5964,...,1698072,1699430,1752898,1766030,1812580,1813428,1851565,1928908,1935756,145249503.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,WB,West Bengal,31,173,320,340,340,560,697,750,...,617024,617376,624772,636224,644878,651140,663068,674878,689952,55554980.0
751,WB,West Bengal,1,1,76,174,174,250,620,625,...,399440,403943,407081,412065,415094,416970,422579,437810,445297,37231224.0
752,WB,West Bengal,14,14,163,477,477,477,1343,1372,...,1418321,1439164,1457460,1479443,1510692,1528928,1548376,1587315,1616155,124472330.0
753,WB,West Bengal,NaN,0,101,287,287,477,1143,1174,...,583227,587271,590747,605880,607434,607434,620921,646146,651975,50234929.0
754,WB,West Bengal,62,62,142,324,451,705,1455,1542,...,862705,869639,879963,896666,911770,915944,927487,961094,973371,70960802.0

In [15]:
col_lista= list(val2)
col_lista.remove('State_Code')
col_lista.remove('State')

In [16]:
sum_frame_by_column(val2, 'seconddose', col_lista)

,State_Code,State,Second Dose Administered1,Second Dose Administered2,Second Dose Administered3,Second Dose Administered4,Second Dose Administered5,Second Dose Administered6,Second Dose Administered7,Second Dose Administered8,...,Second Dose Administered221,Second Dose Administered222,Second Dose Administered223,Second Dose Administered224,Second Dose Administered225,Second Dose Administered226,Second Dose Administered227,Second Dose Administered228,Second Dose Administered229,seconddose
1,AN,Andaman and Nicobar Islands,0,0,0,0,0,0,0,0,...,8256,8264,8279,8301,8301,8301,8310,8314,8326,594889.0
2,AN,Andaman and Nicobar Islands,0,0,0,0,0,0,0,0,...,30769,30870,30912,30941,31030,31030,31082,31134,31186,1878481.0
3,AN,Andaman and Nicobar Islands,0,0,0,0,0,0,0,0,...,63047,63896,64300,64768,65488,65520,65642,66353,66862,3958422.0
4,AP,Andhra Pradesh,0,0,0,0,0,0,0,0,...,667489,673714,688797,693421,727633,736333,737234,778963,792184,43385420.0
5,AP,Andhra Pradesh,0,0,0,0,0,0,0,0,...,726700,727541,752257,756907,778757,780314,804209,835046,838472,48986123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,WB,West Bengal,0,0,0,0,0,0,0,0,...,233876,235369,242730,250364,255212,257143,260893,264163,267860,18869370.0
751,WB,West Bengal,0,0,0,0,0,0,0,0,...,151533,153760,155099,157779,158921,159849,163604,165994,166860,10461858.0
752,WB,West Bengal,0,0,0,0,0,0,0,0,...,512119,519838,525949,534063,540915,542330,544205,580507,590303,42218125.0
753,WB,West Bengal,NaN,0,0,0,0,0,0,0,...,194094,196911,199329,204788,205025,205959,211709,218421,221523,15925693.0
754,WB,West Bengal,0,0,0,0,0,0,0,0,...,291074,295135,298910,306323,313046,315458,317548,326345,330856,21978710.0

In [17]:
finalstuff1 = val1[['State_Code','State','firstdose']].copy()
finalstuff2 = val2[['State_Code','State','seconddose']].copy()

In [18]:
result = pd.concat([finalstuff1, finalstuff2], axis=1, join='inner')

In [19]:
newresult = result[['State_Code','State','firstdose','seconddose']].copy()

In [20]:
newresult = newresult.loc[:,~newresult.columns.duplicated()]

In [21]:
findf = newresult.groupby(['State_Code','State']).sum().reset_index()
res = findf.copy(deep=True)

In [22]:
findf['State']=findf['State'].str.lower()

In [23]:
newData = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx')

In [24]:
popdata = newData[['Level','Name','TOT_P']].copy()

In [25]:
rslt_df = popdata[popdata['Level'] == 'STATE'].copy()

In [26]:
rslt_df.drop_duplicates(subset ="Name",keep = 'first', inplace = True)

In [27]:
rslt_df['Name']=rslt_df['Name'].str.lower()

In [28]:
rslt_df.sort_values("Name", axis = 0, ascending = True,inplace = True)

In [29]:
rslt_df.reset_index(inplace = True)

In [30]:
newrslt_df = rslt_df[['Name','TOT_P']].copy()

In [31]:
newrslt_df.rename(columns = {'Name':'State'}, inplace = True)

In [32]:
int_df = pd.merge(findf, newrslt_df, how='inner', on=['State'])

In [33]:
int_df['vaccinateddose1ratio'] = int_df['TOT_P']/int_df['firstdose']
int_df['vaccinateddose2ratio'] = int_df['TOT_P']/int_df['seconddose']

In [34]:
int_df.rename(columns = {'State_Code':'stateid'}, inplace = True)

In [35]:
int_df.sort_values("vaccinateddose1ratio", axis = 0, ascending = True,inplace = True)

In [36]:
int_df.reset_index(inplace = True)

In [37]:
sachinint_df = int_df[['stateid','vaccinateddose1ratio','vaccinateddose2ratio']].copy()
sachinint_df.to_csv('vaccinated-dose-ratio-state.csv')

In [38]:
rawdata = pd.read_csv('cowin_vaccine_data_districtwise.csv',low_memory=False)

rawdata = rawdata.rename(columns=data.iloc[0])

In [39]:
rawdata = rawdata.drop(['S No','State_Code','State','Cowin Key'],axis=1)

In [40]:
rawdata = rawdata.rename(columns=rawdata.iloc[0])

In [41]:
thing = rawdata[['District_Key','District','First Dose Administered','Second Dose Administered']].copy()

In [42]:
thing = thing.iloc[1:,:]

In [43]:
acols = []
count = 1
for column in thing.columns:
    if column == 'First Dose Administered':
        acols.append(f'First Dose Administered{count}')
        count+=1
        continue
    acols.append(column)
thing.columns = acols
bcols = []
count = 1
for column in thing.columns:
    if column == 'Second Dose Administered':
        bcols.append(f'Second Dose Administered{count}')
        count+=1
        continue
    bcols.append(column)
thing.columns = bcols

In [44]:
bat1 = thing.filter(regex='First')
bat2 = thing.filter(regex='Second')

In [45]:
stumps = thing[['District_Key','District']].copy()

In [46]:
sachin1 = pd.concat([stumps, bat1], axis=1)
sachin2 = pd.concat([stumps, bat2], axis=1)

In [47]:
column_list1= list(sachin1)
column_list1.remove('District_Key')
column_list1.remove('District')

In [48]:
sum_frame_by_column(sachin1, 'dose1', column_list1)

,District_Key,District,First Dose Administered1,First Dose Administered2,First Dose Administered3,First Dose Administered4,First Dose Administered5,First Dose Administered6,First Dose Administered7,First Dose Administered8,...,First Dose Administered221,First Dose Administered222,First Dose Administered223,First Dose Administered224,First Dose Administered225,First Dose Administered226,First Dose Administered227,First Dose Administered228,First Dose Administered229,dose1
1,AN_Nicobars,Nicobars,0,0,0,1,1,2,3,206,...,22179,22183,22192,22212,22212,22212,22221,22227,22234,2048593.0
2,AN_North and Middle Andaman,North and Middle Andaman,0,0,0,0,0,33,244,390,...,70535,71135,71506,71683,72517,72542,72921,73299,73655,6389639.0
3,AN_South Andaman,South Andaman,23,23,42,88,123,204,305,324,...,151905,154213,156076,157718,159464,159705,160605,161926,163017,13521244.0
4,AP_Anantapur,Anantapur,287,504,778,1324,1969,2496,3302,4089,...,1491158,1499044,1532684,1541992,1579139,1584352,1585518,1644283,1678857,124601010.0
5,AP_Chittoor,Chittoor,424,1012,925,1798,2829,3859,4766,5964,...,1698072,1699430,1752898,1766030,1812580,1813428,1851565,1928908,1935756,145249503.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,WB_Purulia,Purulia,31,173,320,340,340,560,697,750,...,617024,617376,624772,636224,644878,651140,663068,674878,689952,55554980.0
751,WB_Birbhum,Birbhum,1,1,76,174,174,250,620,625,...,399440,403943,407081,412065,415094,416970,422579,437810,445297,37231224.0
752,WB_South 24 Parganas,South 24 Parganas,14,14,163,477,477,477,1343,1372,...,1418321,1439164,1457460,1479443,1510692,1528928,1548376,1587315,1616155,124472330.0
753,WB_Uttar Dinajpur,Uttar Dinajpur,NaN,0,101,287,287,477,1143,1174,...,583227,587271,590747,605880,607434,607434,620921,646146,651975,50234929.0
754,WB_Paschim Bardhaman,Paschim Bardhaman,62,62,142,324,451,705,1455,1542,...,862705,869639,879963,896666,911770,915944,927487,961094,973371,70960802.0

In [49]:
column_list2= list(sachin2)
column_list2.remove('District_Key')
column_list2.remove('District')

In [50]:
sum_frame_by_column(sachin2, 'dose2', column_list2)

,District_Key,District,Second Dose Administered1,Second Dose Administered2,Second Dose Administered3,Second Dose Administered4,Second Dose Administered5,Second Dose Administered6,Second Dose Administered7,Second Dose Administered8,...,Second Dose Administered221,Second Dose Administered222,Second Dose Administered223,Second Dose Administered224,Second Dose Administered225,Second Dose Administered226,Second Dose Administered227,Second Dose Administered228,Second Dose Administered229,dose2
1,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,...,8256,8264,8279,8301,8301,8301,8310,8314,8326,594889.0
2,AN_North and Middle Andaman,North and Middle Andaman,0,0,0,0,0,0,0,0,...,30769,30870,30912,30941,31030,31030,31082,31134,31186,1878481.0
3,AN_South Andaman,South Andaman,0,0,0,0,0,0,0,0,...,63047,63896,64300,64768,65488,65520,65642,66353,66862,3958422.0
4,AP_Anantapur,Anantapur,0,0,0,0,0,0,0,0,...,667489,673714,688797,693421,727633,736333,737234,778963,792184,43385420.0
5,AP_Chittoor,Chittoor,0,0,0,0,0,0,0,0,...,726700,727541,752257,756907,778757,780314,804209,835046,838472,48986123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,WB_Purulia,Purulia,0,0,0,0,0,0,0,0,...,233876,235369,242730,250364,255212,257143,260893,264163,267860,18869370.0
751,WB_Birbhum,Birbhum,0,0,0,0,0,0,0,0,...,151533,153760,155099,157779,158921,159849,163604,165994,166860,10461858.0
752,WB_South 24 Parganas,South 24 Parganas,0,0,0,0,0,0,0,0,...,512119,519838,525949,534063,540915,542330,544205,580507,590303,42218125.0
753,WB_Uttar Dinajpur,Uttar Dinajpur,NaN,0,0,0,0,0,0,0,...,194094,196911,199329,204788,205025,205959,211709,218421,221523,15925693.0
754,WB_Paschim Bardhaman,Paschim Bardhaman,0,0,0,0,0,0,0,0,...,291074,295135,298910,306323,313046,315458,317548,326345,330856,21978710.0

In [51]:
lion1 = sachin1[['District_Key','District','dose1']].copy()
lion2 = sachin2[['District_Key','District','dose2']].copy()

In [52]:
mergedf = pd.concat([lion1, lion2], axis=1, join='inner')

In [53]:
newmergedf = mergedf.loc[:,~mergedf.columns.duplicated()].copy()

In [54]:
newmergedf['District']=newmergedf['District'].str.lower()

In [55]:
new_thing = thing[['District_Key','District']].copy()

In [56]:
new_thing['District'] = new_thing['District'].str.lower()

In [57]:
finalint_df = pd.merge(new_thing, newmergedf, how='inner', on=['District_Key','District'])

In [58]:
kohli = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx')

In [59]:
pdata = kohli[['Level','Name','TOT_P']].copy()

In [60]:
wave = pdata[pdata['Level'] == 'DISTRICT'].copy()
wave.drop_duplicates(subset ="Name",keep = 'first', inplace = True)

In [61]:
wave.rename(columns = {'Name':'District'}, inplace = True)

In [62]:
thenewwave = wave[['District','TOT_P']].copy()

In [63]:
thenewwave['District'] = thenewwave['District'].str.lower()

In [64]:
bigstuff = pd.merge(finalint_df, thenewwave, how='inner', on=['District'])

In [65]:
bigstuff['vaccinateddose1ratio'] = bigstuff['TOT_P']/bigstuff['dose1']
bigstuff['vaccinateddose2ratio'] = bigstuff['TOT_P']/bigstuff['dose2']

In [66]:
finalbigstuff = bigstuff[['District_Key','vaccinateddose1ratio','vaccinateddose2ratio']].copy()

In [67]:
finalbigstuff.drop_duplicates(subset ="District_Key",keep = 'first', inplace = True)

In [68]:
finalbigstuff.rename(columns = {'District_Key':'districtid'}, inplace = True)

In [69]:
finalbigstuff.to_csv('vaccinated-dose-ratio-district.csv')

In [70]:
finalbigstuff

               districtid  vaccinateddose1ratio  vaccinateddose2ratio
0             AN_Nicobars              0.017984              0.061931
1        AN_South Andaman              0.017612              0.060161
2            AP_Anantapur              0.032754              0.094067
3             AP_Chittoor              0.028737              0.085209
4        AP_East Godavari              0.030558              0.106580
..                    ...                   ...                   ...
548   WB_Dakshin Dinajpur              0.038948              0.102689
549            WB_Kolkata              0.013001              0.040632
550    WB_Purba Medinipur              0.079139              0.213901
554  WB_Paschim Medinipur              0.060374              0.167617
555     WB_Uttar Dinajpur              0.059861              0.188823

[496 rows x 3 columns]

In [71]:
new_first = int_df[['firstdose','seconddose','TOT_P']].copy()

In [72]:
new_first = new_first.sum(axis = 0, skipna = True)

In [73]:
new_first = new_first.to_frame()

In [74]:
new_first = new_first.transpose()

In [75]:
new_first['vaccinateddose1ratio'] = new_first['firstdose']/new_first['TOT_P']
new_first['vaccinateddose2ratio'] = new_first['seconddose']/new_first['TOT_P']

In [76]:
fin_new_first = new_first[['vaccinateddose1ratio','vaccinateddose2ratio']].copy()

In [77]:
fin_new_first['id'] ='overall'

In [78]:
fin_new_first = fin_new_first[['id','vaccinateddose1ratio','vaccinateddose2ratio']]

In [79]:
fin_new_first.to_csv('vaccinated-dose-ratio-overall.csv')